__pycache__
/data
/data/*
/code/icp_warm_up/data/*
/figures/*

# Specifically ignore the dataRGBD subfolder and dataRGBD.zip
/data/dataRGBD/
/data/dynamic_occ_map/
/data/dataRGBD.zip

# mac os
.DS_Store


# python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.npy
*.npz
*.pkl
*.mat

ECE276A_PR2.pdf